h3 Create Entry
p Enter a name to quickly create a new entry on the system
form(action="/add",method="post")
  label(for="name") Name:
  br
  input(type="text",name="name")
  br
  br
  label(for="tel") Tel:
  br
  input(type="text",name="tel")
  br
  br
  button Create Entry